#MaCarte {
    background-color : #bee3db;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: black;
    font-family: 'Quicksand';
    border-top: 2px solid #89b0ae;
}

ul {

    list-style: '';
}

#carte{
    display: flex;
    flex-direction: row;
}
#commandeclient{
    max-width: 20%;
    background-color: #bee3db;
    display: flex;
    flex-direction: column;

}
#MaCarte{
    min-width: 80%;
    background-color: #bee3db;
}
#commande{

    background-color: #bee3db;

    margin: 20px;
    
}
