
#imgRestaurant {
        border-radius: 50%;
        min-height: 10vh;
        max-height: 10vh;
      }


h2 {
    color: brown;
}

.listR {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}

.R {
    min-width: 25vh;
    max-width: 25vh;
    border: 1vh;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    
}
.btCarte {
    align-self:flex-end
}