em {
    color: crimson;
}

.error {
    text-align: center;
    background-color: coral;
    color: aliceblue;
    
}

#inscriptionForm {
    display: flex;
    flex-direction: column;
    background-color : #bee3db;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: black;
    font-family: 'Quicksand';
    border-top: 2px solid #89b0ae;
    text-align:center;
};
