#AjouterunMenuForm {
    background-color : #bee3db;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: black;
    font-family: 'Quicksand';
    border-top: 2px solid #89b0ae;
}

#dispoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
#carteDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.tableItem {
    
    min-width: 45vw;
    max-width: 45vw;
    background-color: #faf9f9;
    border: 2px solid #89b0ae;
    table-layout: fixed;
}

td,th {
    min-width: 5vw;
    max-width: 5vw;
    padding: 20px;
    align-items: center;
    table-layout: fixed;
}


.AUMtitre{
    font-size: xx-large;

}

.input{
    background-color: #faf9f9;
    border: 2px solid #89b0ae;
}


.endbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonstyle {
    background-color: #faf9f9;
    border: 2px solid #89b0ae;
}