.tables {
 display: flex;   
 gap: 10px;
 align-content:space-around;
 flex-wrap: wrap 
}

.table {
    background-color: grey;
    display: flex;
    width: 15vw;
    height: 15vw;
    flex-grow: 4;
    flex-shrink: 3;
    
}

.table.active {
    background-color: greenyellow;
}
