.tables {
 display: flex;   
 gap: 30px;
 flex-wrap: wrap ;
 background-color: #bee3db;
 max-width: 300vh;
}

.table {
    background-color: grey;
    min-width: 10vw;
    min-height: 10vw;
    max-width: 10vw;
    max-height: 10vw;
    border-radius: 3vh;
    margin: 10px;

}

.table.active {
    background-color: #89b0ae;
}

.table.active:hover {
    background-color:#ffd6ba;
}

.titreresto {
    font-size: large;
    color: #555b6e;
}


/*   flex-grow: 4;
flex-shrink: 3;
    align-items: center;
    justify-content: center;

    .restaurant {
    height: 50vh;
    width: 50vh;
    padding: 10vh;
    background-color: #bee3db;
}

*/