#AjouterRestaurantForm {
    background-color : #bee3db;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
};

.error {
    text-align: center;
    background-color: coral;
    color: aliceblue;
    /* padding: 2vw; */
    
}

.imgPreview {
    height: 200px;
    width: 200px;
    padding: 2vw;
    margin: 1vw;
    background: grey;
}
.imgPreview img {
 
    height: 200px;
    width: 200px;
    padding: 10px ;
    
}

.formulaireresto{
    padding: 3vw;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}