#AjouterRestaurantForm {
    background-color : #bee3db;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: black;
    font-family: 'Quicksand';
    min-width: 80vh

};


.error {
    text-align: center;
    background-color: coral;
    color: aliceblue;
    /* padding: 2vw; */
    /* margin: 1vw; */
    
}

.imgPreview {
    height: 200px;
    width: 200px;
    padding: 2vw;
    margin: 1vw;
    background: grey;
}
.imgPreview img {
 
    height: 200px;
    width: 200px;
    padding: 10px ;
    
}

<<<<<<< HEAD
.formulaireresto{
    padding: 3vw;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
=======
.ARtitre{
    font-size: xx-large;
>>>>>>> 9e39ad213a0d0c5c1c7b9878b574d2684d767cf1
}